<div class="container" style="background: blue">

  <h2>Sign up</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>
    
    <div class="form-row">
      <div class="field col-xs-6" style="background: red">
        <%= f.text_field :firstname, class: 'form-control', placeholder: 'First name'%>
      </div>

      <div class="field col-xs-6" style="background: green">
        <%= f.text_field :lastname, class: 'form-control', placeholder: 'Surname' %>
      </div>
    </div>

    <div class="form-row">
      <div class="field col-xs-12" style="background: yellow">
        <%= f.email_field :email, class: 'form-control', placeholder: 'email', autofocus: true, autocomplete: "email" %>
      </div>
    </div>

    <div class="form-row">
      <div class="field col-xs-12" style="background: yellow">
          <!-- <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br /> -->
          <%= f.password_field :password, class: 'form-control', placeholder: 'New password', autocomplete: "off" %>
      </div>
    </div>

    <div class="form-row">
      <div class="field col-xs-12" style="background: yellow">
      <%= f.password_field :password_confirmation, class: 'form-control', placeholder: 'Password confirmation', autocomplete: "off" %>
      </div>
    </div>

    <div class="actions">
      <%= f.submit "Sign up", class: 'btn btn-success' %>
    </div>
  <% end %>

  <!-- <form>
    <div class="form-row">
      <div class="col">
        <input type="text" class="form-control" placeholder="First name">
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="Last name">
      </div>
    </div>
  </form> -->
</div>
  <%= render "devise/shared/links" %>
