<div class="card mb-5">
  <div class="p-3">
    <%= form_with(model: post, local: true) do |form| %>
      <% if post.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

          <ul>
          <% post.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="form-row">
        <div class="field col-md-12">
          <%= form.text_area :content, class: 'form-control', placeholder: 'Flip us something' %>
        </div>
      </div>

      <div class="form-row">
        <div class="field col-md-4 offset-8">
          <%= form.submit "Flap", class: 'btn btn-info btn-lg btn-block' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
