<!DOCTYPE html>
<html>
  <head>
    <title>Fishnet</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="/../../assets/styles.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-light" style="background-color: #00c8d8;">
      <div class="container">
          <div class="col-md-3">
            <a class="navbar-brand" href="#">
              <%= image_tag 'fishnet-logo.png', class: 'img-fluid', width: '100%', alt: 'fishnet' %>
            </a>
          </div>
          <div class="col-md-6 offset-md-3">
            <% if current_user %>
              <p class="text-right"><%= link_to "Logout", destroy_user_session_path, method: :delete %></p>
            <% else %>
              <%= render 'devise/sessions/form' %>
            <% end %>
          </div>
      </div>
    </nav>

    <div class="container">
      <div class="row">
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
      </div>
    </div>

    <%= yield %>

  </body>
</html>
