<!DOCTYPE html>
<html>
  <head>
    <title>Fishnet</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="/../../assets/stylesheets/fontawesome/fontawesome-all.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-light" style="background-color: #00c8d8;">
      <div class="container">
          <div class="col-md-3">
            <%= link_to(root_path, class: "navbar-brand") do %>
              <%= image_tag 'fishnet-logo.png', class: 'img-fluid', width: '100%', alt: 'fishnet' %>
            <% end %>
          </div>
          <div class="col-md-6 offset-md-3">
            <% if current_user %>
              <p class="text-right"><%= link_to "Logout", destroy_user_session_path, method: :delete %></p>
            <% else %>
              <%= render 'devise/sessions/form' %>
            <% end %>
          </div>
      </div>
    </nav>

    <div class="container">
      <div class="row d-flex align-items-center m-3">
        <div class="col-md-4 offset-md-4">
          <% if notice %>
            <div class="alert alert-primary"><%= notice %></div>
          <% end %>
          <% if alert %>
            <div class="alert alert-warning"><%= alert %></div>
          <% end %>
        </div>
      </div>
    </div>

    <%= yield %>

  </body>
</html>
